@charset "UTF-8";

@media (min-width: 768px){

    body{
        background-image: linear-gradient(to bottom, rgb(120, 117, 117), #1d1c1c);
    }
    main{
        width: 800px;
    }
    section{
        flex-direction: row;
        width: 100%;
        height: 100%;
    }
}

@media (max-height:400px){
    div.login{
        width: 100%;
        height: 75vh;   
    }
    
    div.imagem{
        display: none;
        width: 100%;
        height: 25vh;
        background: #9146DB url(../img/img02.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}